<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header_title_main">通知配信プラットフォームV2</div>    
    <ul class="header_list">
      <li class="header_btn first"><a href="<%= link.href %>"><%= link.text%></a></li>
      <li class="header_btn"><a href="<%= link_application.href %>"><%= link_application.text%></a></li>
    </ul>

    <ul class="left_nav">
      <li><a href="<%= link_transmit.href %>"><%= link_transmit.text%></a></li>
      <li><a href="<%= link_transmit_done.href %>"><%= link_transmit_done.text%></a></li>
      <li><a href="<%= link_transmit_web.href %>"><%= link_transmit_web.text%></a></li>
      <li><a href="https://redash.io/" target="blank">レポート</a></li>
      <li><a href="<%= link_transmit_db.href %>"><%= link_transmit_db.text%></a></li>
    </ul>

    <ul class="transmit_contents">

      <!-- ここにDBのテーブルを入れる -->

      <li><a href="<%= link_transmit_reservation.href %>"><%= link_transmit_reservation.text%></a></li>

    </ul>

    <div class="main_title"><%= title %></div>
    <div class="app_label"></div>
    <div class="appChange_btn"><a href="<%= link_application.href %>"><%= link_application.text%></a></div>

  </body>
</html>