<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header_title">通知配信プラットフォームV2</div>

    <ul class="header_list">
      <li class="header_btn first"><a href="<%= link.href %>"><%= link.text%></a></li>
      <li class="header_btn"><a href="<%= link_application.href %>"><%= link_application.text%></a></li>
    </ul>

    <div class="section_box">
      <div class="select_btn"><a href="<%= link_transmit.href %>"><%= link_transmit.text%></a></div>
      <div class="edit_btn"><a href="<%= link_application_item.href %>"><%= link_application_item.text%></a></div>
    </div>

    <div class="section_box">
      <div class="select_btn"><a href="<%= link_transmit.href %>"><%= link_transmit.text%></a></div>
      <div class="edit_btn"><a href="<%= link_application_item.href %>"><%= link_application_item.text%></a></div>
    </div>

    <div class="section_box">
      <div class="select_btn"><a href="<%= link_transmit.href %>"><%= link_transmit.text%></a></div>
      <div class="edit_btn"><a href="<%= link_application_item.href %>"><%= link_application_item.text%></a></div>
    </div>

    <div class="section_box">
      <div class="select_btn"><a href="<%= link_transmit.href %>"><%= link_transmit.text%></a></div>
      <div class="edit_btn"><a href="<%= link_application_item.href %>"><%= link_application_item.text%></a></div>
    </div>

    <div class="section_box">
      <div class="select_btn"><a href="<%= link_transmit.href %>"><%= link_transmit.text%></a></div>
      <div class="edit_btn"><a href="<%= link_application_item.href %>"><%= link_application_item.text%></a></div>
    </div>

    <div class="section_box">
      <div class="select_btn"><a href="<%= link_transmit.href %>"><%= link_transmit.text%></a></div>
      <div class="edit_btn"><a href="<%= link_application_item.href %>"><%= link_application_item.text%></a></div>
    </div>

    <div class="section_box">
      <div class="select_btn"><a href="<%= link_transmit.href %>"><%= link_transmit.text%></a></div>
      <div class="edit_btn"><a href="<%= link_application_item.href %>"><%= link_application_item.text%></a></div>
    </div>
            
  </body>
</html>
